/* App.css (глобальні стилі та layout) */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
}

body.dark {
  background-color: #1e1e1e;
  color: #fff;
}

.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  background-color: #f7f7f7;
  color: #000;
  box-sizing: border-box;
}

body.dark .main {
  background-color: #1e1e1e;
  color: #fff;
}

