.habit-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.habit-table th,
.habit-table td {
  padding: 10px;
}

.habit-table th {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
}

.habit-name {
  font-style: italic;
  text-align: left;
  color: var(--text-color);
  font-weight: 500;
}

.habit-circle {
  width: 26px;
  height: 26px;
  border: 2px solid #4e4eeb;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #4e4eeb;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  transition: background 0.2s ease, transform 0.2s ease;
}

.habit-circle:hover {
  transform: scale(1.1);
}

.habit-circle.done {
  background-color: #e0e0ff;
  color: rgb(162, 152, 255);
  border-color: #4e4eeb;
}

body.dark .habit-circle {
  border-color: #80deea;
  color: #80deea;
}

body.dark .habit-circle.done {
  background-color: #355b80;
  color: white;
  border-color: #80deea;
}

.habit-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.habit-input input {
  padding: 10px;
  flex-grow: 1;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: 400px;
}

.habit-input button {
  background: linear-gradient(135deg, #b388ff, #80deea);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.habit-input button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

body.dark .habit-input input {
  background-color: #2c2c2c;
  color: #f0f0f0;
  border-color: #555;
}

body.dark .habit-input button {
  background: linear-gradient(135deg, #2c2c5d, #355b80);
  color: #f5f5f5;
}

.suggestions-wrapper {
  position: relative;
  display: inline-block;
}

.habit-suggestions {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.habit-suggestion {
  padding: 6px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 6px;
  transition: background 0.2s;
}

.habit-suggestion:hover {
  background-color: #f0f0f0;
}

body.dark .habit-suggestions {
  background-color: #2c2c2c;
  color: #f0f0f0;
  border-color: #555;
}

body.dark .habit-suggestion:hover {
  background-color: #3a3a3a;
}
