.travel-wishlist {
    padding: 20px;
    text-align: center;
  }
  
  .travel-controls {
    margin-bottom: 20px;
  }
  
  .travel-controls button {
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .travel-controls button.active {
    background-color: #4e4eeb;
    color: white;
  }
  

  .travel-map-container {
    height: 600px;
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
  }
  